{{> header}}
<details>
	<summary><span class="summary">Search again</span></summary>

	<div class="panel panel-border-narrow">
		{{> movement_search}}
	</div>
</details>
<table>
	<thead>
		<tr>
			<th><abbr title="Parent schedule">Sch</abbr></th>
			<th><abbr title="Parent train">Trn</abbr></th>
			<th><abbr title="Cancelled?">C</abbr></th>
			<th>Scheduled</th>
			<th>Expected</th>
			<th>Actual</th>
			<th>Action</th>
			<th>Service</th>
		</tr>
	</thead>
		{{#each body.mvts}}
		<tr {{#if this.canx}}class="movements-row-cancelled"{{/if}}>
			<td>
				{{#if this.parent_sched}}
					<a href="/schedule/{{this.parent_sched}}">→</a>
				{{/if}}
			</td>
			<td>
				{{#if this.parent_train}}
					<a href="/train/{{this.parent_train}}">→</a>
				{{/if}}
			</td>
			<td>
				{{#if this.canx}}
				<abbr title="This train was cancelled">❌</abbr>
				{{else}}
			</td>
			<td class="movements-cell-time">
				{{this.time}}
			</td>
			<td class="movements-cell-time">
				{{#if this.time_expected}}
				{{this.time_expected}}
				{{/if}}
			</td>
			<td class="movements-cell-time">
				{{#if this.time_actual}}
				{{this.time_actual}}
				{{/if}}
			</td>
			<td>
				{{this.action}}
			</td>
			<td>
				{{> orig_dest}}
			</td>
		</tr>
		{{/each}}
</table>
{{> footer}}
