<table>
	<thead>
		<tr>
			<th scope="col">Location</th>
			<th scope="col"><abbr title="Scheduled time">Sched</abbr></th>
			<th scope="col"><abbr title="Actual time">Live</abbr></th>
			<th scope="col"><abbr title="Source of live time">Src</abbr></th>
			<th scope="col">Path</th>
		</tr>
	</thead>
	{{#each body.movements}}
		<tr>
			<td>
				<p class="schedule-location">
				<a href="/stations/{{this.tiploc}}">{{this.location}}</a>&nbsp;<span class="schedule-location-tiploc">({{this.tiploc}})</span>
				</p>
				<p class="schedule-action">
				({{this.action}})
				</p>
			</td>
			<td>{{this.time_sched}}</td>
			<td>
				{{#if this.time_live}}
					{{this.time_live}}
				{{/if}}
			</td>
			<td>
				{{#if this.live_source}}
					{{this.live_source}}
				{{/if}}
			</td>
			<td>
				{{#if this.ends_path}}
					→<a href="/paths/{{this.ends_path}}">{{this.ends_path}}</a>
					{{#if this.starts_path}}
						&middot;
					{{/if}}
				{{/if}}
				{{#if this.starts_path}}
					<a href="/paths/{{this.starts_path}}">{{this.starts_path}}</a>→
				{{/if}}
			</td>
		</tr>
	{{/each}}
</table>

