{{> header }}
<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col">Location</th>
			<th scope="col">Scheduled</th>
			<th scope="col">Expected</th>
			<th scope="col">Actual</th>
			<th scope="col">Path</th>
		</tr>
	</thead>
	{{#each body.movements}}
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<p class="schedule-location">
				<a href="/stations/{{this.tiploc}}">{{this.location}}</a>&nbsp;<span class="schedule-location-tiploc">({{this.tiploc}})</span>
				</p>
				<p class="schedule-action">
				({{this.action}})
				</p>
			</td>
			<td class="govuk-table__cell">{{this.time_scheduled}}</td>
			<td class="govuk-table__cell">
				{{#if this.time_expected}}
					{{this.time_expected}}
				{{/if}}
			</td>
			<td class="govuk-table__cell">
				{{#if this.time_actual}}
					{{this.time_actual}}
				{{/if}}
			</td>
			<td class="govuk-table__cell">
				{{#if this.ends_path}}
					→<a href="/paths/{{this.ends_path}}">{{this.ends_path}}</a>
					{{#if this.starts_path}}
						&middot;
					{{/if}}
				{{/if}}
				{{#if this.starts_path}}
					<a href="/paths/{{this.starts_path}}">{{this.starts_path}}</a>→
				{{/if}}
			</td>
		</tr>
	{{/each}}
</table>

{{> schedule_table}}
{{> footer }}
